@model Domain.Produto

<form asp-action="Alterar" method="post">
    <fieldset>
        <legend>Alterar Produto</legend>

        <!-- se necessário, pesquisar por "Tag helper" -->
        <input type="hidden" asp-for="ProdutoId" readonly="" />

        <div class="form-group" id="Nome">
            <label>Nome:</label>
            <input type="text" asp-for="Nome" class="form-control" />
        </div>

        <div class="form-group" id="Descricao">
            <label>Descrição:</label>
            <input type="text" asp-for="Descricao" class="form-control" />
        </div>

        <div class="form-group" id="Preco">
            <label>Preço:</label>
            <input type="text" asp-for="Preco" class="form-control" />
        </div>

        <div class="form-group" id="Quantidade">
            <label>Quantidade:</label>
            <input type="text" asp-for="Quantidade" class="form-control" />
        </div>

        <div class="form-group" id="Categoria">
            <label>Categoria:</label>
            <select asp-items="@ViewBag.Categorias" asp-for="Categoria.Nome" class="form-control" name="drpCategorias">
                <option value="value">-- Selecione --</option>
            </select>
        </div>

        <button type="submit" value="Salvar" class="btn btn-primary">Salvar</button>
    </fieldset>
</form>
