
<form asp-action="Cadastrar" method="post">
    <fieldset>
        <legend>Cadastrar Produto</legend>

        <!-- se necessário, pesquisar por "Tag helper" -->
        <div class="form-group"  id="Nome">
            <label>Nome:</label>
            <input class="form-control" type="text" name="txtNome" />
        </div>

        <div class="form-group" id="Drescricao">
            <label>Descrição:</label>
            <input class="form-control" type="text" name="txtDescricao" />
        </div>

        <div class="form-group"  id="Preco">
            <label>Preço:</label>
            <input class="form-control" type="text" name="txtPreco" />
        </div>

        <div class="form-group" id="Quantidade">
            <label>Quantidade:</label>
            <input class="form-control" type="text" name="txtQuantidade" />
        </div>

        @*<input type="submit" value="Cadastrar" />*@
        <button type="submit" value="Cadastrar" class="btn btn-primary mb-2">Cadastrar</button>
    </fieldset>
</form>
