<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar</title>
</head>
<body>
    <h1>Cadastrar Produto</h1>

    <form asp-action="Cadastrar" method="post"> <!-- se necessário, pesquisar por "Tag helper" -->
        <label>Nome:</label><input type="text" name="txtNome" />
        <br /><br />
        <label>Descrição:</label><input type="text" name="txtDescricao" />
        <br /><br />
        <label>Preço:</label><input type="text" name="txtPreco" />
        <br /><br />
        <label>Quantidade:</label><input type="text" name="txtQuantidade" />
        <br /><br />
        <input type="submit" value="Cadastrar" />
    </form>
</body>
</html>
